@media screen and (max-width: 650px) {
    
    /* Global */
    .tentang, .portofolio, .nilai, .kontak {
        padding: 130px 50px 75px 50px;        
    }

    .section-title {
        font-size: 20px;
    }

    /* Header */

    header {
        padding: 20px 50px;
        text-align: center;
    }

    header h1 {
        float: none;
    }

    nav {
        float: none;
    }

    nav ul {
        padding: 0;
        margin-top: 15px;
    }

    /* Main */

    main {
        margin-top: 112px;
    }

    /* Section Banner */

    .banner {
        padding: 30px 0;
    }

    .banner-content {
        padding: 30px;
        width: 80%;
        margin-top: 30px;
    }

    .banner-content h2 {
        font-size: 20px;
    }

    .banner-content p {
        font-size: 14px;
    }

    .github, .instagram, .whatsapp {
        width: 40px;
        height: 40px;
    }

    /* Tentang Saya */

    .tentang .wrapper {
        flex-direction: column;
    }

    .kanan, .kiri {
        width: 100%;
        padding: 15px;
    }

    .kanan p {
        font-size: 14px;
    }

    /* Section Portofolio */

    .portofolio .wrapper {
        flex-direction: column;
    }

    .porto-card {
        width: 80%;
        margin-bottom: 25px;
    }

    .porto-card img {
        max-height: 400px;
        height: 40vh;
    }

    /* Nilai dan Sertifikasi */

    .nilai .wrapper {
        margin-top: 30px;
    }

    .nilai-title, .sertifikasi-title {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .tabel-nilai, .tabel-sertifikasi {
        font-size: 12px;
    }

    /* Kontak */

    .kontak {
        min-height: 100vh;
    }

    /* Button Kalkulator */
    
    .button {
        padding: 40px 10px;
    }

}